server_addr: '0.0.0.0:3054'
public_addr: '{{ ansible_default_ipv4.address }}:{{ consensus_port }}'
max_payload_size: 5000000
gossip_dynamic_inbound_limit: 200
{% if enable_consensus_debug_port %}
debug_page_addr: "0.0.0.0:{{ consensus_debug_port }}"
{% endif %}
rpc_config:
  get_block_rate:
    burst: 5
    refresh: # 0.2s
      seconds: 0
      nanos: 200000000
