server_addr: '0.0.0.0:3054'
public_addr: '{{ ansible_default_ipv4.address }}:{{ consensus_port }}'
max_payload_size: 5000000
gossip_dynamic_inbound_limit: 100
gossip_static_outbound:
{% for item in consensus_outbound %}
  - key: {{ item.key }}
    addr: {{ item.addr }}
{% endfor %}
