EN_ETH_CLIENT_URL="{{ eth_l1_url | mandatory }}"
EN_MAIN_NODE_URL="{{ main_node_url | mandatory }}"
EN_L2_CHAIN_ID="{{ l2_chain_id | mandatory }}"
EN_L1_CHAIN_ID="{{ l1_chain_id | mandatory }}"
{% if enable_snapshots_recovery %}
EN_SNAPSHOTS_RECOVERY_ENABLED="true"
EN_SNAPSHOTS_OBJECT_STORE_MODE="GCSAnonymousReadOnly"
EN_SNAPSHOTS_OBJECT_STORE_BUCKET_BASE_URL="{{ snapshots_bucket_base_url | mandatory }}"
{% endif %}

DATABASE_URL="postgres://{{ database_username | mandatory }}:{{ database_password | mandatory }}@postgres/{{ database_name | mandatory }}"
