POSTGRES_USER="{{ database_username | mandatory }}"
POSTGRES_PASSWORD="{{ database_password | mandatory }}"
DATA_SOURCE_NAME="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/postgres?sslmode=disable"
